Node-RED/master.json

[{"id":"743daacb7a808501","type":"subflow","name":"INSERT USER IN DB","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"71ddee5fe8f19c2b"},{"id":"d267b59ebf9c483a"},{"id":"fc151f87a431a592"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"fc151f87a431a592","type":"function","z":"743daacb7a808501","name":"SELECT apartmentID","func":"let floor = msg.payload.floor\nlet apartment = msg.payload.apartment\nlet token = msg.payload.token\nlet name = msg.payload.name\nlet surname = msg.payload.surname\n\n\n\nmsg.payload = {\n    floor : floor,\n    apartment: apartment,\n    token: token,\n    name: name,\n    surname: surname\n}\n\nmsg.topic = \"SELECT apartmentID from apartment \"+\n            \"WHERE floor = \" + floor + \n            \" and apartment_number = \" + apartment + \";\"\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["1df65888afd83006","b7af3d953f7135bf"]]},{"id":"1df65888afd83006","type":"mysql","z":"743daacb7a808501","mydb":"3d82484f23ccce80","name":"Query","x":490,"y":280,"wires":[["891102ef6d60d00a"]]},{"id":"d267b59ebf9c483a","type":"join","z":"743daacb7a808501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":160,"wires":[["be9886bdedd8a504"]]},{"id":"00fc4e9a410a7c26","type":"mysql","z":"743daacb7a808501","mydb":"3d82484f23ccce80","name":"Query","x":950,"y":160,"wires":[[]]},{"id":"2320bafa90788134","type":"mysql","z":"743daacb7a808501","mydb":"3d82484f23ccce80","name":"Query","x":430,"y":560,"wires":[["3cca1884487a82fa"]]},{"id":"891102ef6d60d00a","type":"switch","z":"743daacb7a808501","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":280,"wires":[["13a0f2222a926409"],["b7af3d953f7135bf"]],"l":false},{"id":"8c718390e1087a5a","type":"function","z":"743daacb7a808501","name":"INSERT/SELECT","func":"let floor = msg.payload[0].floor\nlet apartment = msg.payload[0].apartment\nlet latitude = 0.0\nlet longitude = 0.0\nlet building_quality = 0.0\nlet name = msg.payload[0].name\nlet surname = msg.payload[0].surname\nlet token = msg.payload[0].token\n\nmsg.topic = \"INSERT INTO apartment(apartmentID, floor, apartment_number, latitude, longitude, building_quality) \"+\n            \"VALUES (null, \" + floor + \", \" + apartment + \", \" + latitude + \", \" + longitude + \", \" + building_quality + \");\\n\"+\n            \"SELECT apartmentID from apartment \"+\n            \"WHERE floor = \" + floor + \n            \" and apartment_number = \" + apartment + \";\"\n            \n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":560,"wires":[["2320bafa90788134"]]},{"id":"b7af3d953f7135bf","type":"join","z":"743daacb7a808501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":170,"y":440,"wires":[["8c718390e1087a5a"]]},{"id":"be9886bdedd8a504","type":"function","z":"743daacb7a808501","name":"INSERT user","func":"let apartmentID = msg.payload[1].apartmentID\nlet token = msg.payload[0].token\nlet name = msg.payload[0].name\nlet surname = msg.payload[0].surname\n\n\nmsg.payload = {\n    token : token,\n    apartmentID : apartmentID,\n    name : name,\n    surname : surname\n}\n\nmsg.topic = \"INSERT INTO user(token, apartmentID, name, surname) \"+\n            \"VALUES ('\" + token + \"', \" + apartmentID + \", '\" +\n            name + \"', '\" + surname +\"');\" \nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":160,"wires":[["00fc4e9a410a7c26"]]},{"id":"13a0f2222a926409","type":"function","z":"743daacb7a808501","name":"","func":"let apartmentID = msg.payload[0].apartmentID\nmsg.payload = {\n    apartmentID : apartmentID\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":575,"y":220,"wires":[["d267b59ebf9c483a"]],"l":false},{"id":"71ddee5fe8f19c2b","type":"link out","z":"743daacb7a808501","name":"","links":["5e723e99612b76a5"],"x":155,"y":100,"wires":[]},{"id":"5e723e99612b76a5","type":"link in","z":"743daacb7a808501","name":"","links":["71ddee5fe8f19c2b"],"x":535,"y":660,"wires":[["5e30b7407e1d6ab3"]]},{"id":"5e30b7407e1d6ab3","type":"join","z":"743daacb7a808501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":620,"wires":[["cbd070fb92555f23"]]},{"id":"3cca1884487a82fa","type":"function","z":"743daacb7a808501","name":"","func":"let array = msg.payload[1]\nlet apartmentID = array[0].apartmentID\nmsg.payload = {\n    apartmentID : apartmentID\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":535,"y":600,"wires":[["5e30b7407e1d6ab3"]],"l":false},{"id":"63d591657b54c0fb","type":"mysql","z":"743daacb7a808501","mydb":"3d82484f23ccce80","name":"Query","x":990,"y":620,"wires":[[]]},{"id":"cbd070fb92555f23","type":"function","z":"743daacb7a808501","name":"INSERT user","func":"let apartmentID = msg.payload[1].apartmentID\nlet token = msg.payload[0].token\nlet name = msg.payload[0].name\nlet surname = msg.payload[0].surname\n\nmsg.topic = \"INSERT INTO user(token, apartmentID, name, surname) \"+\n            \"VALUES ('\" + token + \"', \" + apartmentID + \", '\" +\n            name + \"', '\" + surname + \"');\" \nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":620,"wires":[["63d591657b54c0fb"]]},{"id":"d257ef1d2cae6eab","type":"subflow","name":"Convert ApartmentID","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"7f2dee838f8286cf"},{"id":"d31b7be61a57752d"}]}],"out":[{"x":720,"y":280,"wires":[{"id":"ef32554129c436c6","port":0}]}],"env":[],"meta":{},"color":"#F3B567","icon":"font-awesome/fa-database"},{"id":"ef32554129c436c6","type":"function","z":"d257ef1d2cae6eab","name":"","func":"if(msg.complete === undefined){\n    context.set(\"telegramMsg\", msg);\n    node.done();\n}\nelse{\n    let telegramMsg = msg;\n    let apartment = msg.payload[0];\n    msg.payload = telegramMsg;\n    msg.user = {\n        floor: apartment.floor,\n        apartment_number: apartment.apartment_number\n    }\n    node.send(msg)\n    node.done();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":280,"wires":[[]]},{"id":"7f2dee838f8286cf","type":"function","z":"d257ef1d2cae6eab","name":"GET Apartment","func":"msg.topic = \"SELECT * \"+\n            \"FROM apartment \"+\n            \"WHERE ApartmentID = \"+msg.user.apartmentID;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":360,"wires":[["2ef18b79f6d2ad67"]]},{"id":"2ef18b79f6d2ad67","type":"mysql","z":"d257ef1d2cae6eab","mydb":"3d82484f23ccce80","name":"Query","x":370,"y":360,"wires":[["148d471ce3981cb5"]]},{"id":"148d471ce3981cb5","type":"change","z":"d257ef1d2cae6eab","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":360,"wires":[["ef32554129c436c6"]],"l":false},{"id":"d31b7be61a57752d","type":"change","z":"d257ef1d2cae6eab","name":"","rules":[{"t":"delete","p":"complete","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":195,"y":280,"wires":[["ef32554129c436c6"]],"l":false},{"id":"bea1693237202ab6","type":"subflow","name":"Enable/Disable System","info":"","category":"","in":[{"x":60,"y":280,"wires":[{"id":"322c15f904b1940d"}]}],"out":[{"x":460,"y":180,"wires":[{"id":"322c15f904b1940d","port":0}]}],"env":[],"meta":{},"color":"#87A980","icon":"node-red-node-wol/onoff.png"},{"id":"322c15f904b1940d","type":"function","z":"bea1693237202ab6","name":"Toggle system","func":"let system_status = msg.payload.enable;\n\n//This one resets the status of the FSM \nglobal.set(\"\"+msg.payload.chatId, \"0\");\n\nmsg.payload = {\n    content: \"\",\n    type : \"message\",\n    chatId: msg.payload.chatId,\n    messageId: msg.payload.messageId\n}\nif(system_status)\n    msg.payload.content = \"The system is active!\";\nelse\n    msg.payload.content = \"The system was deactivated\";\n\n\n\n// Questo è il dato da salvare nel file di configurazione\nlet msg1 = {\n    payload: {\n        system_status\n    }\n};\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[[],["dd1b5d668608f686"]]},{"id":"dd1b5d668608f686","type":"file","z":"bea1693237202ab6","name":"Store to file","filename":"smartBuilding/bld.config","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":510,"y":280,"wires":[[]]},{"id":"bbdbc52f8d2a7b34","type":"subflow","name":"Read Config File","info":"","category":"","in":[{"x":200,"y":260,"wires":[{"id":"b5c3fa30ecb89abd"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"e8f9d3c6fbdf1820","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/file-in.svg"},{"id":"b5c3fa30ecb89abd","type":"file in","z":"bbdbc52f8d2a7b34","name":"Read file","filename":"smartBuilding/bld.config","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":260,"wires":[["1d0a24ddc67b8487"]]},{"id":"1d0a24ddc67b8487","type":"json","z":"bbdbc52f8d2a7b34","name":"","property":"payload","action":"","pretty":false,"x":530,"y":260,"wires":[["e8f9d3c6fbdf1820"]]},{"id":"d0f8554d6c69f858","type":"catch","z":"bbdbc52f8d2a7b34","name":"File doesn't exists","scope":["b5c3fa30ecb89abd"],"uncaught":false,"x":490,"y":380,"wires":[["e8f9d3c6fbdf1820"]]},{"id":"e8f9d3c6fbdf1820","type":"change","z":"bbdbc52f8d2a7b34","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":260,"wires":[[]],"l":false},{"id":"e82b6d30aca5626f","type":"subflow","name":"Read Userlist from DB","info":"","category":"","in":[{"x":200,"y":200,"wires":[{"id":"fd31fb5998e23eb5"}]}],"out":[{"x":760,"y":200,"wires":[{"id":"e17daef820dd6ebb","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"node-red/file-in.svg"},{"id":"e17daef820dd6ebb","type":"delay","z":"e82b6d30aca5626f","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":630,"y":200,"wires":[[]]},{"id":"fd31fb5998e23eb5","type":"function","z":"e82b6d30aca5626f","name":"SELECT","func":"\nmsg.topic = \"SELECT * FROM user;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["f023629c9c1a47ac"]]},{"id":"f023629c9c1a47ac","type":"mysql","z":"e82b6d30aca5626f","mydb":"3d82484f23ccce80","name":"Query","x":470,"y":200,"wires":[["e17daef820dd6ebb"]]},{"id":"38b5b7aa896ab5e4","type":"comment","z":"e82b6d30aca5626f","name":"DONE","info":"","x":130,"y":120,"wires":[]},{"id":"f42fabeba4caa836","type":"subflow","name":"Filter","info":"","category":"","in":[{"x":20,"y":300,"wires":[{"id":"785d45474c5a5799"},{"id":"238a56879de27a89"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"4c7b3ae556b16d8e","port":0}]},{"x":990,"y":340,"wires":[{"id":"4c7b3ae556b16d8e","port":1}]},{"x":660,"y":380,"wires":[{"id":"b33a209defcaadbe","port":1}]}],"env":[],"meta":{},"color":"#E6E0F8","outputLabels":["VALID","SYSTEM NOT ACTIVE","USER NOT RECOGNIZED"],"icon":"font-awesome/fa-user-circle"},{"id":"238a56879de27a89","type":"subflow:e82b6d30aca5626f","z":"f42fabeba4caa836","name":"","env":[],"x":140,"y":400,"wires":[["dfd5bc725b5b721d"]]},{"id":"785d45474c5a5799","type":"join","z":"f42fabeba4caa836","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":300,"wires":[["b33a209defcaadbe"]]},{"id":"dfd5bc725b5b721d","type":"function","z":"f42fabeba4caa836","name":"","func":"let users = msg.payload;\nmsg.payload = {\n    users: users //Qua dentro va il risultato della query\n};\nmsg.complete=true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":285,"y":400,"wires":[["785d45474c5a5799"]],"icon":"node-red/swap.svg","l":false},{"id":"b33a209defcaadbe","type":"function","z":"f42fabeba4caa836","name":"Check","func":"let users = msg.payload.users; //arriva dal DB\nlet chatId = msg.payload.chatId; //arriva da Telegram\nlet message = {\n    payload: {\n        chatId: chatId,\n        messageId: msg.payload.messageId,\n        type: msg.payload.type,\n        content: msg.payload.content,\n        \n    },\n    uid: chatId,\n    command: msg.command\n};\n\n\nfor(let i = 0; i < users.length;i++){\n    if(users[i].chatId != undefined && users[i].chatId === \"\"+chatId){\n        message.user = users[i];\n        return [message, null];\n    }\n}\nreturn [null, message]","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":300,"wires":[["4b0ae6acae920d51","35ecd5a0e1915e90"],[]],"outputLabels":["VALID","NOT VALID"]},{"id":"4c7b3ae556b16d8e","type":"switch","z":"f42fabeba4caa836","name":"Is system enabled?","property":"enabled","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":835,"y":280,"wires":[[],[]],"outputLabels":["SYSTEM ENABLED","SYSTEM DISABLED"],"l":false},{"id":"479d7ffaec190e91","type":"comment","z":"f42fabeba4caa836","name":"This flow is for detecting if the user has access to the commands","info":"","x":250,"y":80,"wires":[]},{"id":"4b0ae6acae920d51","type":"subflow:bbdbc52f8d2a7b34","z":"f42fabeba4caa836","name":"","env":[],"x":590,"y":180,"wires":[["9189ca6d42d1f071"]]},{"id":"9189ca6d42d1f071","type":"function","z":"f42fabeba4caa836","name":"","func":"let enabled = msg.payload.system_status;\nmsg.complete = true;\nmsg.enabled = enabled;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":715,"y":180,"wires":[["35ecd5a0e1915e90"]],"icon":"font-awesome/fa-check","l":false},{"id":"35ecd5a0e1915e90","type":"function","z":"f42fabeba4caa836","name":"","func":"if(msg.complete === undefined){\n    context.set(msg.uid+\"_filtermsg\");\n    //msg.payload = msg.uid+\"_filtermsg\";\n    //node.send(msg);\n    node.done();\n}\nelse{\n    let payload = context.get(msg.uid+\"_filtermsg\");\n    //context.set(msg.payload.chatId+\"_filtermsg\", '');\n    //msg.payload = msg.uid+\"_filtermsg\";\n    node.send(msg);\n    node.done();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":755,"y":280,"wires":[["4c7b3ae556b16d8e"]],"icon":"node-red/join.svg","l":false},{"id":"2858883b86b66d7f","type":"comment","z":"f42fabeba4caa836","name":"README","info":"Al posto di Read userlist mettiamo una query per ottenere la lista di utenti\n","x":180,"y":140,"wires":[]},{"id":"7f32022812f86e1c","type":"comment","z":"f42fabeba4caa836","name":"DONE","info":"","x":170,"y":180,"wires":[]},{"id":"e170d871f89dee0d","type":"subflow","name":"Configure Location","info":"","category":"","in":[{"x":80,"y":200,"wires":[{"id":"5daa6c0bacc65e82"}]}],"out":[],"env":[],"meta":{},"color":"#C0DEED","icon":"font-awesome/fa-gears"},{"id":"5daa6c0bacc65e82","type":"function","z":"e170d871f89dee0d","name":"Send Instructions","func":"msg.payload.content = \"Please share your GPS Location\";\nglobal.set(\"\"+msg.payload.chatId, \"gps1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":200,"wires":[["43146ce63600f780"]]},{"id":"43146ce63600f780","type":"telegram sender","z":"e170d871f89dee0d","name":"Send","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":430,"y":200,"wires":[[]]},{"id":"dd36d393408cde21","type":"telegram receiver","z":"e170d871f89dee0d","name":"Receive Location","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":220,"y":340,"wires":[["b6ebcfa9a1b4d881"],[]]},{"id":"b6ebcfa9a1b4d881","type":"switch","z":"e170d871f89dee0d","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":355,"y":340,"wires":[[],["5e4bca1f2f25812f"]],"outputLabels":["IS A COMMAND","IS AN ANSWER"],"l":false},{"id":"5e4bca1f2f25812f","type":"function","z":"e170d871f89dee0d","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"gps1\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":425,"y":340,"wires":[["bf2657b4d2495015"]],"icon":"node-red/switch.svg","l":false},{"id":"d57853bda7856f61","type":"comment","z":"e170d871f89dee0d","name":"README","info":"TODO:\n\n1) Save GPS Location serve per salvare i dati GPS\nin msg.payload\n2) Combine data non serve più\n3) Store in file non serve più\n4) Read config file qui non serve più\n5) la JOIN non serve più\n\n\nBisogna fare una query UPDATE per modificare i valori latitude e longitude di tutte le righe della tabella Apartment.","x":320,"y":280,"wires":[]},{"id":"bf2657b4d2495015","type":"function","z":"e170d871f89dee0d","name":"UPDATE lat&long","func":"\nmsg.topic = \"UPDATE apartment\"+\n            \" SET latitude = \"+msg.payload.content.latitude+\n            \", longitude = \"+msg.payload.content.longitude+\n            \" WHERE 1 = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["88f63af163676d32"]]},{"id":"88f63af163676d32","type":"mysql","z":"e170d871f89dee0d","mydb":"3d82484f23ccce80","name":"","x":760,"y":340,"wires":[[]]},{"id":"e42eb6e6534c0f4a","type":"comment","z":"e170d871f89dee0d","name":"DONE","info":"","x":440,"y":280,"wires":[]},{"id":"a13462e6356ed63a","type":"subflow","name":"Configure TensorFlow","info":"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"bc946eae0ab9f761"}]}],"out":[],"env":[],"meta":{},"color":"#FFCC66","icon":"font-awesome/fa-cogs"},{"id":"bc946eae0ab9f761","type":"function","z":"a13462e6356ed63a","name":"Ask epochs","func":"msg.payload.content=\"Send the number of epochs\";\nglobal.set(\"\"+msg.payload.chatId, \"ctf1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["ac62921546db2607"]]},{"id":"ac62921546db2607","type":"telegram sender","z":"a13462e6356ed63a","name":"Ask par","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":720,"y":400,"wires":[[]]},{"id":"a0af9826497bc080","type":"telegram receiver","z":"a13462e6356ed63a","name":"Receive Epochs","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":140,"y":320,"wires":[["ae183784ef2d6767"],[]]},{"id":"d72b1551776ab49f","type":"function","z":"a13462e6356ed63a","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"ctf1\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":340,"wires":[["61360317a781c6a0"]],"icon":"node-red/switch.svg","l":false},{"id":"ae183784ef2d6767","type":"switch","z":"a13462e6356ed63a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":320,"wires":[[],["d72b1551776ab49f"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"61360317a781c6a0","type":"function","z":"a13462e6356ed63a","name":"Ask Neurons #1","func":"\nglobal.set(msg.payload.chatId+\"_epochs\", msg.payload.content);\n\nmsg.payload.content=\"Send the number of neurons for layer #1\"\nglobal.set(\"\"+msg.payload.chatId, \"ctf2\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["ac62921546db2607"]]},{"id":"b701599fd3899c4c","type":"telegram receiver","z":"a13462e6356ed63a","name":"Receive Neurons #1","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":150,"y":420,"wires":[["319e399f645bbf42"],[]]},{"id":"6a0e9ec1978e3452","type":"function","z":"a13462e6356ed63a","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"ctf2\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":440,"wires":[["c8bc58f1bc2a91f4"]],"icon":"node-red/switch.svg","l":false},{"id":"319e399f645bbf42","type":"switch","z":"a13462e6356ed63a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":420,"wires":[[],["6a0e9ec1978e3452"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"c8bc58f1bc2a91f4","type":"function","z":"a13462e6356ed63a","name":"Ask Neurons #2","func":"global.set(msg.payload.chatId+\"_neuron1\", msg.payload.content);\n\nmsg.payload.content=\"Send the number of neurons for layer #2\"\nglobal.set(\"\"+msg.payload.chatId, \"ctf3\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["ac62921546db2607"]]},{"id":"30e9ad557bf0a2ad","type":"function","z":"a13462e6356ed63a","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"ctf4\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":640,"wires":[["5a6354db7b3b7542"]],"icon":"node-red/switch.svg","l":false},{"id":"72914ef802a054f9","type":"telegram receiver","z":"a13462e6356ed63a","name":"Receive Training","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":140,"y":620,"wires":[["718365ecd8289ba8"],[]]},{"id":"718365ecd8289ba8","type":"switch","z":"a13462e6356ed63a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":620,"wires":[[],["30e9ad557bf0a2ad"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"5a6354db7b3b7542","type":"function","z":"a13462e6356ed63a","name":"Save result","func":"// Retrieve all the parameters\nlet epochs = global.get(msg.payload.chatId+\"_epochs\");\nlet neuron1 = global.get(msg.payload.chatId+\"_neuron1\");\nlet neuron2 = global.get(msg.payload.chatId+\"_neuron2\");\nlet training = msg.payload.content;\n\n// Reset all the global variables\nglobal.set(\"\"+msg.payload.chatId, \"0\");\nglobal.set(msg.payload.chatId+\"_epochs\",\"\");\nglobal.set(msg.payload.chatId+\"_neuron1\",\"\");\nglobal.set(msg.payload.chatId+\"_neuron2\", \"\");\n\n\nlet trainingBool = false;\nswitch(training.toLowerCase().trim()){\n    case 'si': trainingBool = true; break;\n    case 'yes': trainingBool = true; break;\n    case 'ya': trainingBool = true; break;\n    case 'ok': trainingBool = true; break;\n}\n\n//Create the json file to store\nmsg.payload = {\n    epochs: epochs,\n    neuronsLayer1: neuron1,\n    neuronsLayer2: neuron2,\n    trainingExecution: trainingBool\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":640,"wires":[["df6f7251fbb3f3e5","82c1e7372653539f"]]},{"id":"4f90b2aa05017908","type":"telegram receiver","z":"a13462e6356ed63a","name":"Receive Neurons #2","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":150,"y":520,"wires":[["2bc54bb9aaefea43"],[]]},{"id":"febca80bca765bcb","type":"function","z":"a13462e6356ed63a","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"ctf3\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":540,"wires":[["655243216395bb21"]],"icon":"node-red/switch.svg","l":false},{"id":"2bc54bb9aaefea43","type":"switch","z":"a13462e6356ed63a","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":520,"wires":[[],["febca80bca765bcb"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"655243216395bb21","type":"function","z":"a13462e6356ed63a","name":"Ask Training","func":"global.set(msg.payload.chatId+\"_neuron2\", msg.payload.content);\n\nmsg.payload.content=\"Do you want to train the algorithm?\"\nglobal.set(\"\"+msg.payload.chatId, \"ctf4\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["ac62921546db2607"]]},{"id":"5332c421dc9af64b","type":"mqtt out","z":"a13462e6356ed63a","name":"Send TFConfig","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"54d52f8897b8d24f","x":1040,"y":640,"wires":[]},{"id":"df6f7251fbb3f3e5","type":"function","z":"a13462e6356ed63a","name":"SELECT","func":"\n\nmsg.topic = \"SELECT * FROM apartment;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":740,"wires":[["024df02d0a5bda53"]]},{"id":"024df02d0a5bda53","type":"mysql","z":"a13462e6356ed63a","mydb":"3d82484f23ccce80","name":"Query","x":670,"y":740,"wires":[["b35a6d39d2e3e3d1"]]},{"id":"b35a6d39d2e3e3d1","type":"change","z":"a13462e6356ed63a","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":755,"y":740,"wires":[["82c1e7372653539f"]],"l":false},{"id":"82c1e7372653539f","type":"function","z":"a13462e6356ed63a","name":"Topic TFConfig Slave","func":"if(msg.complete===undefined){\n    context.set(\"tfConfig\", msg.payload)\n    node.done()\n}\nelse {\n    let tfConfig = context.get(\"tfConfig\")\n    \n    let apartments = msg.payload \n    \n    for(let i=0; i<apartments.length; i++) {\n        let topic = \"cmd/slave/\" + apartments[i].floor + \"/\" +\n                    apartments[i].apartment_number + \"/tensorflow/config\"\n        let msg2 = {\n            payload : tfConfig,\n            topic : topic\n        }\n        node.send(msg2)\n    }   \n}\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":640,"wires":[["5332c421dc9af64b"]]},{"id":"54d52f8897b8d24f","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9d582f95e38ea77b","type":"subflow","name":"Set Building Quality","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"d20587b793f26960"},{"id":"98e7f72a3d156bb9"}]}],"out":[],"env":[],"meta":{},"color":"#E9967A","icon":"font-awesome/fa-gears"},{"id":"d20587b793f26960","type":"switch","z":"9d582f95e38ea77b","name":"Check result","property":"payload.content","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["5c1849bc168d387b","594f5bd9578d91ac"],["6587069c83f4bf1d"]],"outputLabels":["OK","NOT OK"]},{"id":"5c1849bc168d387b","type":"function","z":"9d582f95e38ea77b","name":"GET Quality","func":"//global.set(\"bld_quality\",msg.payload.content.trim());\n\nlet quality = msg.payload.content.trim();\n\nmsg.topic = \"UPDATE apartment\"+\n            \" SET building_quality = \" + quality +\n            \" WHERE 1 = 1\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":240,"wires":[["0a6415c3bdb22c2c","10c8f68f32ce44b0"]]},{"id":"6587069c83f4bf1d","type":"function","z":"9d582f95e38ea77b","name":"Correction Message","func":"msg.payload = {\n    content: \"The answer must be a number between 1 and 5\",\n    type: \"message\",\n    chatId: msg.payload.chatId,\n    sentMessageId: msg.payload.messageId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":440,"wires":[["6106b619e342cea3"]]},{"id":"594f5bd9578d91ac","type":"function","z":"9d582f95e38ea77b","name":"Final Message","func":"msg.payload = {\n    content: \"Isolation level \"+msg.payload.content.trim()+ \" selected.\",\n    type : \"message\",\n    chatId: msg.payload.chatId,\n    messageId: msg.payload.messageId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["9daf9eccaf3c01ba"]]},{"id":"9daf9eccaf3c01ba","type":"telegram sender","z":"9d582f95e38ea77b","name":"Send Success","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":720,"y":100,"wires":[[]]},{"id":"6106b619e342cea3","type":"telegram sender","z":"9d582f95e38ea77b","name":"Send Fail","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":740,"y":440,"wires":[[]]},{"id":"98e7f72a3d156bb9","type":"function","z":"9d582f95e38ea77b","name":"Reset FSM","func":"//This one resets the status of the FSM \nglobal.set(\"\"+msg.payload.telegramID, \"0\");\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":200,"wires":[]},{"id":"d930dd4f1fb5b036","type":"comment","z":"9d582f95e38ea77b","name":"README","info":"Questa parte potremmo farla specifica per ogni appartamento, perchè per ora il valore è uguale tra tutti gli appartamenti","x":140,"y":120,"wires":[]},{"id":"97a439cb6c46eb0a","type":"comment","z":"9d582f95e38ea77b","name":"README","info":"1) Save result va tolto\n2) Read config file va tolto\n3) join, combine e save vanno tolti\n4) Bisogna creare la query per impostare il valore di qualità dell'edificio\n\n5) il valore è in msg.payload.content.trim()","x":500,"y":180,"wires":[]},{"id":"0a6415c3bdb22c2c","type":"mysql","z":"9d582f95e38ea77b","mydb":"3d82484f23ccce80","name":"","x":720,"y":240,"wires":[[]]},{"id":"a199aefb85e1b82b","type":"comment","z":"9d582f95e38ea77b","name":"DONE","info":"","x":650,"y":180,"wires":[]},{"id":"10c8f68f32ce44b0","type":"debug","z":"9d582f95e38ea77b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"3d82484f23ccce80","type":"MySQLdatabase","name":"Amazon MySQL","host":"db-iotsystems.cfbti5otvmx7.us-east-1.rds.amazonaws.com","port":"3306","db":"iot-sys","tz":"","charset":"UTF8"},{"id":"dbc2bd5d0eae1c7a","type":"tab","label":"Master - Telegram Receiver","disabled":false,"info":""},{"id":"7dd12876ae4fdc4f","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Disable","command":"/disable","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":260,"wires":[["d8eb803e87816810"],[]]},{"id":"d5ff5c4ddd92d11c","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Enable","command":"/enable","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":200,"wires":[["9b43fbae966711d1"],[]]},{"id":"c0a042eacec8a433","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"payload.enable","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":260,"wires":[["0a80b40a8a12c877"]],"l":false},{"id":"4a32a4911f9a89da","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"payload.enable","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":300,"wires":[["0a80b40a8a12c877"]],"l":false},{"id":"31f2f70a22100f5b","type":"comment","z":"dbc2bd5d0eae1c7a","name":"ADMIN","info":"","x":70,"y":80,"wires":[]},{"id":"66f43aae32f433fc","type":"telegram sender","z":"dbc2bd5d0eae1c7a","name":"Send","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":1090,"y":420,"wires":[[]]},{"id":"9b2ca3db019bf113","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Configure Tensorflow","command":"/configure_tensorflow","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":160,"y":140,"wires":[["5dba548b6cdc4dce"],[]]},{"id":"1ae2eda0b7dc0b63","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Set GPS Position","command":"/set_gps","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":320,"wires":[["96e09f1855d1fd8d"],[]]},{"id":"ff1994b66a47e8f7","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Set Building Quality","command":"/set_bld_quality","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":150,"y":380,"wires":[["7c9857adf509f3f9"],[]]},{"id":"cc8f508a26c8d075","type":"subflow:9d582f95e38ea77b","z":"dbc2bd5d0eae1c7a","name":"","env":[],"x":840,"y":200,"wires":[]},{"id":"053d314ea5ee52cc","type":"subflow:a13462e6356ed63a","z":"dbc2bd5d0eae1c7a","name":"","x":810,"y":120,"wires":[]},{"id":"e757d62fc3227d33","type":"subflow:e170d871f89dee0d","z":"dbc2bd5d0eae1c7a","name":"","x":820,"y":160,"wires":[]},{"id":"a062d457b4df3bd7","type":"switch","z":"dbc2bd5d0eae1c7a","name":"Is Authorized?","property":"payload.chatId","propertyType":"msg","rules":[{"t":"eq","v":"128314363","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":280,"wires":[["35d1ab08b43bc886"],["17ed24f411cb7674"]],"outputLabels":["YES","NO"]},{"id":"17ed24f411cb7674","type":"function","z":"dbc2bd5d0eae1c7a","name":"Not Authorized message","func":"msg.payload = {\n    content: \"You're not authorized to use this bot!\",\n    type : \"message\",\n    chatId: msg.payload.chatId,\n    messageId: msg.payload.messageId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":420,"wires":[["66f43aae32f433fc"]]},{"id":"5dba548b6cdc4dce","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"ctf","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":325,"y":140,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"9b43fbae966711d1","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":200,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"d8eb803e87816810","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":260,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"96e09f1855d1fd8d","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"gps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":320,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"7c9857adf509f3f9","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"quality","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":380,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"35d1ab08b43bc886","type":"switch","z":"dbc2bd5d0eae1c7a","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"ctf","vt":"str"},{"t":"eq","v":"gps","vt":"str"},{"t":"eq","v":"quality","vt":"str"},{"t":"eq","v":"enable","vt":"str"},{"t":"eq","v":"disable","vt":"str"},{"t":"eq","v":"reg_user","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":615,"y":240,"wires":[["053d314ea5ee52cc"],["e757d62fc3227d33"],["cc8f508a26c8d075"],["c0a042eacec8a433"],["4a32a4911f9a89da"],["caa446a0e00a6246"]],"outputLabels":["CONFIGURE TENSORFLOW","GPS","QUALITY","ENABLE","DISABLE","REGISTER"],"l":false},{"id":"5fa2c935ee67f6d4","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Register User","command":"/register_user","description":"","registercommand":false,"language":"","scope":"default","bot":"ad12236c6c7cb3cb","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":440,"wires":[["190888c956ea8cc4"],[]]},{"id":"190888c956ea8cc4","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"reg_user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":325,"y":440,"wires":[["a062d457b4df3bd7"]],"l":false},{"id":"caa446a0e00a6246","type":"link out","z":"dbc2bd5d0eae1c7a","name":"","links":["ae1201781c76a889"],"x":685,"y":340,"wires":[]},{"id":"6175de169e6f3aa7","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Update","command":"/update","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":90,"y":760,"wires":[["b76ec53f87cad2de"],[]]},{"id":"b7cc86f9a43d1614","type":"telegram sender","z":"dbc2bd5d0eae1c7a","name":"Send","bot":"c7bebed2.8e5b6","haserroroutput":false,"outputs":1,"x":850,"y":940,"wires":[[]]},{"id":"4bbe49c0718b6ee0","type":"comment","z":"dbc2bd5d0eae1c7a","name":"USER","info":"","x":70,"y":660,"wires":[]},{"id":"c56b2a8282e0c5d8","type":"function","z":"dbc2bd5d0eae1c7a","name":"Not Active Message","func":"msg.payload = {\n    content: \"The system is not currently available\",\n    type : \"message\",\n    chatId: msg.uid\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":900,"wires":[["b7cc86f9a43d1614"]]},{"id":"e4e98f1a46c3de72","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Login","command":"/login","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":90,"y":1080,"wires":[["23ca0e4b34d38422"],[]]},{"id":"23ca0e4b34d38422","type":"link out","z":"dbc2bd5d0eae1c7a","name":"","links":["6fa58c8b86b1dc36"],"x":255,"y":1080,"wires":[]},{"id":"ddf69514a07eafe3","type":"subflow:f42fabeba4caa836","z":"dbc2bd5d0eae1c7a","name":"","env":[],"x":440,"y":880,"wires":[["101196e1e67882bc"],["c56b2a8282e0c5d8"],["9b27b1a4548b159e"]]},{"id":"9b27b1a4548b159e","type":"function","z":"dbc2bd5d0eae1c7a","name":"Not Recognized Message","func":"msg.payload = {\n    content: \"You're not allowed to use this bot!\",\n    type : \"message\",\n    chatId: msg.uid\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":960,"wires":[["b7cc86f9a43d1614"]]},{"id":"b76ec53f87cad2de","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":760,"wires":[["ddf69514a07eafe3"]],"l":false},{"id":"c20ad6bda6a83284","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"add_conditioner","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":820,"wires":[["ddf69514a07eafe3"]],"l":false},{"id":"b18bc6de568b1dc2","type":"switch","z":"dbc2bd5d0eae1c7a","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"add_conditioner","vt":"str"},{"t":"eq","v":"remove_conditioner","vt":"str"},{"t":"eq","v":"toggle_conditioner","vt":"str"},{"t":"eq","v":"set_std_temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":785,"y":800,"wires":[["c3e1a7dc67915c80"],["835325501f97a6d1"],["eb405ed10c3774d6"],["404410635e51ecb9"],["6c1993a6528de9e3"]],"outputLabels":["UPDATE","ADD_CONDITIONER","REMOVE_CONDITIONER","TOGGLE_CONDITIONER","SET_TEMPERATURE"],"l":false},{"id":"ee3f7ea4377fcf23","type":"comment","z":"dbc2bd5d0eae1c7a","name":"The master delegates the command to the specific slave","info":"","x":850,"y":660,"wires":[]},{"id":"8e38d58d46a98d2d","type":"mqtt out","z":"dbc2bd5d0eae1c7a","name":"Send ","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"54d52f8897b8d24f","x":1110,"y":800,"wires":[]},{"id":"dd165764f005abf3","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Add Conditioner","command":"/add_conditioner","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":820,"wires":[["c20ad6bda6a83284"],[]]},{"id":"b3265fc6d5827fd4","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Remove Conditioner","command":"/remove_conditioner","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":880,"wires":[["0db3bc92ef7f8cf7"],[]]},{"id":"0db3bc92ef7f8cf7","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"remove_conditioner","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":880,"wires":[["ddf69514a07eafe3"]],"l":false},{"id":"5606a92f24b3b317","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Toggle Conditioner","command":"/toggle_conditioner","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":940,"wires":[["07520ff6561816df"],[]]},{"id":"07520ff6561816df","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"toggle_conditioner","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":940,"wires":[["ddf69514a07eafe3"]],"l":false},{"id":"0a80b40a8a12c877","type":"subflow:bea1693237202ab6","z":"dbc2bd5d0eae1c7a","name":"","env":[],"x":890,"y":280,"wires":[["66f43aae32f433fc"]]},{"id":"375c5087e9a3ce4f","type":"telegram command","z":"dbc2bd5d0eae1c7a","name":"Set Ideal Temperature","command":"/set_std_temperature","description":"","registercommand":false,"language":"","scope":"default","bot":"c7bebed2.8e5b6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":1000,"wires":[["74e286e4deefacd8"],[]]},{"id":"74e286e4deefacd8","type":"change","z":"dbc2bd5d0eae1c7a","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"set_std_temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305,"y":1000,"wires":[["ddf69514a07eafe3"]],"l":false},{"id":"835325501f97a6d1","type":"function","z":"dbc2bd5d0eae1c7a","name":"Set topic","func":"let topic = \"cmd/slave/\"+msg.user.floor+\"/\"\n            +msg.user.apartment_number+\"/conditioner/add\";\nmsg.topic = topic;\nmsg.qos = 0;\nmsg.retain = false;\nmsg.command = msg.command;\nmsg.payload = {\n    chatId: msg.uid,\n    type: \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":760,"wires":[["8e38d58d46a98d2d"]]},{"id":"eb405ed10c3774d6","type":"function","z":"dbc2bd5d0eae1c7a","name":"Set topic","func":"let topic = \"cmd/slave/\"+msg.user.floor+\"/\"\n            +msg.user.apartment_number+\"/conditioner/remove\";\nmsg.topic = topic;\nmsg.qos = 0;\nmsg.retain = false;\nmsg.command = msg.command;\nmsg.payload = {\n    chatId: msg.uid,\n    type: \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":800,"wires":[["8e38d58d46a98d2d"]]},{"id":"404410635e51ecb9","type":"function","z":"dbc2bd5d0eae1c7a","name":"Set topic","func":"let topic = \"cmd/slave/\"+msg.user.floor+\"/\"\n            +msg.user.apartment_number+\"/conditioner/toggle\";\nmsg.topic = topic;\nmsg.qos = 0;\nmsg.retain = false;\nmsg.command = msg.command;\nmsg.payload = {\n    chatId: msg.uid,\n    type: \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":840,"wires":[["8e38d58d46a98d2d"]]},{"id":"6c1993a6528de9e3","type":"function","z":"dbc2bd5d0eae1c7a","name":"Set topic","func":"let topic = \"cmd/slave/\"+msg.user.floor+\"/\"\n            +msg.user.apartment_number+\"/conditioner/set\";\nmsg.topic = topic;\nmsg.qos = 0;\nmsg.retain = false;\nmsg.command = msg.command;\nmsg.payload = {\n    chatId: msg.uid,\n    type: \"message\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":880,"wires":[["8e38d58d46a98d2d"]]},{"id":"101196e1e67882bc","type":"subflow:d257ef1d2cae6eab","z":"dbc2bd5d0eae1c7a","name":"","x":640,"y":800,"wires":[["b18bc6de568b1dc2"]]},{"id":"c3e1a7dc67915c80","type":"link out","z":"dbc2bd5d0eae1c7a","name":"","mode":"link","links":["bd0bc7b2f0212d99"],"x":875,"y":720,"wires":[]},{"id":"e7702738bcfe6f35","type":"tab","label":"Master - User Subscription","disabled":false,"info":""},{"id":"ea94afe93f97d9d2","type":"comment","z":"e7702738bcfe6f35","name":"ADMIN: He creates the user profile","info":"","x":220,"y":80,"wires":[]},{"id":"f165f3e01c244efb","type":"comment","z":"e7702738bcfe6f35","name":"USER:  has to insert the token given by the Admin in order to associate it with the chatId of Telegram","info":"","x":420,"y":620,"wires":[]},{"id":"c0b7f91d2fb36312","type":"function","z":"e7702738bcfe6f35","name":"Ask name","func":"msg.payload.content=\"Name of the new user\"\n\n//change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"reg1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":160,"wires":[["65babb19e855bd87"]]},{"id":"65babb19e855bd87","type":"telegram sender","z":"e7702738bcfe6f35","name":"Send","bot":"ad12236c6c7cb3cb","haserroroutput":false,"outputs":1,"x":790,"y":280,"wires":[[]]},{"id":"4d82e9a5c939b869","type":"telegram receiver","z":"e7702738bcfe6f35","name":"Receive Name","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":120,"y":220,"wires":[["e1130b1153997fdc"],[]]},{"id":"abfe2c56f0266a8e","type":"function","z":"e7702738bcfe6f35","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"reg1\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":220,"wires":[["f259ab87641c3ee4"]],"icon":"node-red/switch.svg","l":false},{"id":"e1130b1153997fdc","type":"switch","z":"e7702738bcfe6f35","name":"Is a command?","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":220,"wires":[[],["abfe2c56f0266a8e"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"f259ab87641c3ee4","type":"function","z":"e7702738bcfe6f35","name":"Ask Surname","func":"//change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"reg2\");\n\nglobal.set(msg.payload.chatId+\"_reg1\", msg.payload.content);\nmsg.payload.content=\"Surname of the new user\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["65babb19e855bd87"]]},{"id":"43c1b55d8622c285","type":"telegram receiver","z":"e7702738bcfe6f35","name":"Receive Surname","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":130,"y":280,"wires":[["d85822f27bb8a8b2"],[]]},{"id":"d85822f27bb8a8b2","type":"switch","z":"e7702738bcfe6f35","name":"Is a command?","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":280,"wires":[[],["2fe7a863754f4e8b"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"2fe7a863754f4e8b","type":"function","z":"e7702738bcfe6f35","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"reg2\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":280,"wires":[["0504a04477637f20"]],"icon":"node-red/switch.svg","l":false},{"id":"dd19928abff2393e","type":"function","z":"e7702738bcfe6f35","name":"Create Random Token","func":"\n//Change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"0\");\n\nlet name = global.get(msg.payload.chatId+\"_reg1\");\nlet surname = global.get(msg.payload.chatId+\"_reg2\");\nlet floor = global.get(msg.payload.chatId+\"_reg3\");\nlet apartment = msg.payload.content;\n\nlet token = makeID(16);\nlet content = \"Name: \"+name+\"\\nSurname: \"+surname+\"\\n\";\ncontent += \"Floor: \"+floor+\"\\nApartment: \"+apartment+\"\\n\";\ncontent += \"Token: \"+token;\n\n//Create the three messages\nlet msg1 = {\n    payload : {}\n};\nlet msg2 = {\n    payload : {}\n};\n\n\nmsg1.payload = {\n    content: content,\n    type: msg.payload.type,\n    chatId: msg.payload.chatId\n}\n\n//used for creating the entry of the user\nmsg2.payload = {\n    floor: floor, \n    apartment: apartment,\n    token: token,\n    name: name,\n    surname: surname\n};\n\n\nreturn [msg1 , msg2];\n\n\n\n\nfunction makeID(length) {\n    var result           = '';\n    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    var charactersLength = characters.length;\n    for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["65babb19e855bd87"],["b19e8fcb99388024"]],"outputLabels":["TELEGRAM RESPONSE","USER DATA"]},{"id":"ae1201781c76a889","type":"link in","z":"e7702738bcfe6f35","name":"Register_User","links":["caa446a0e00a6246"],"x":305,"y":120,"wires":[["c0b7f91d2fb36312"]]},{"id":"6fa58c8b86b1dc36","type":"link in","z":"e7702738bcfe6f35","name":"User_FirstLogin","links":["23ca0e4b34d38422"],"x":235,"y":700,"wires":[["f4e0ea43689bef27"]]},{"id":"f4e0ea43689bef27","type":"function","z":"e7702738bcfe6f35","name":"Ask Token","func":"msg.payload.content=\"Send your token\"\n\n//change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"login1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":700,"wires":[["010c5963c6a94ecf"]]},{"id":"010c5963c6a94ecf","type":"telegram sender","z":"e7702738bcfe6f35","name":"Send","bot":"c7bebed2.8e5b6","haserroroutput":false,"outputs":1,"x":550,"y":700,"wires":[[]]},{"id":"d716a59879e6f188","type":"telegram receiver","z":"e7702738bcfe6f35","name":"Receive Token","bot":"c7bebed2.8e5b6","saveDataDir":"","filterCommands":false,"x":120,"y":800,"wires":[["aa12c3f436e6052a"],[]]},{"id":"449a657e438ed681","type":"function","z":"e7702738bcfe6f35","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"login1\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":315,"y":800,"wires":[["1eaa8c2b463a85c2","e69de3a47159ac40"]],"icon":"node-red/switch.svg","l":false},{"id":"aa12c3f436e6052a","type":"switch","z":"e7702738bcfe6f35","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":245,"y":800,"wires":[[],["449a657e438ed681"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"73f5590bcebd526c","type":"telegram receiver","z":"e7702738bcfe6f35","name":"Receive Floor","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":110,"y":340,"wires":[["9f30fb6a55288e6e"],[]]},{"id":"227923daed1ebf8a","type":"telegram receiver","z":"e7702738bcfe6f35","name":"Receive Apartment","bot":"ad12236c6c7cb3cb","saveDataDir":"","filterCommands":false,"x":130,"y":400,"wires":[["a4c24db6ae089fef"],[]]},{"id":"0504a04477637f20","type":"function","z":"e7702738bcfe6f35","name":"Ask Floor","func":"//change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"reg3\");\n\nglobal.set(msg.payload.chatId+\"_reg2\", msg.payload.content);\nmsg.payload.content=\"Floor in which the new user lives\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["65babb19e855bd87"]]},{"id":"9f30fb6a55288e6e","type":"switch","z":"e7702738bcfe6f35","name":"Is a command?","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":340,"wires":[[],["5a4074459067f885"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"5a4074459067f885","type":"function","z":"e7702738bcfe6f35","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"reg3\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":340,"wires":[["ec5e557a4bc25459"]],"icon":"node-red/switch.svg","l":false},{"id":"a4c24db6ae089fef","type":"switch","z":"e7702738bcfe6f35","name":"Is a command?","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":400,"wires":[[],["2bbe0e9206199839"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"2bbe0e9206199839","type":"function","z":"e7702738bcfe6f35","name":"filter","func":"if(global.get(\"\"+msg.payload.chatId) === \"reg4\"){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":400,"wires":[["dd19928abff2393e"]],"icon":"node-red/switch.svg","l":false},{"id":"ec5e557a4bc25459","type":"function","z":"e7702738bcfe6f35","name":"Ask Apartment","func":"//change status of FSM\nglobal.set(\"\"+msg.payload.chatId, \"reg4\");\n\nglobal.set(msg.payload.chatId+\"_reg3\", msg.payload.content);\nmsg.payload.content=\"Apartment in which the new user lives\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["65babb19e855bd87"]]},{"id":"979ba699e7610fea","type":"telegram sender","z":"e7702738bcfe6f35","name":"Answer","bot":"c7bebed2.8e5b6","haserroroutput":false,"outputs":1,"x":960,"y":840,"wires":[[]]},{"id":"eb45d111a24e8511","type":"comment","z":"e7702738bcfe6f35","name":"README","info":"Quando l'utente ha inviato tutti i dati, prima di creare il random token, bisogna verificare che siano dati ammissibili, altrimenti resettiamo lo stato dell'automa, inviamo un messaggio all'utente con scritto \"I tuoi dati fanno schifo\".\n\nSe invece tutto va bene, il flusso continua come è adesso: viene creato il random token ed inviato all'utente.","x":560,"y":460,"wires":[]},{"id":"e69de3a47159ac40","type":"function","z":"e7702738bcfe6f35","name":"Check user","func":"if(msg.complete===undefined) {\n    context.set(\"telegramMsg\", msg.payload)\n    node.done()\n}\nelse {\n    let telegramMsg = context.get(\"telegramMsg\")\n    \n    let result = msg.payload\n    let token = telegramMsg.content\n    let telegramID = telegramMsg.chatId\n    \n    \n    //token doesn't exist in DB\n    if(result.length==0) {\n        let message = {\n            payload : {\n                content : \"Token doesn't exist\",\n                type : \"message\",\n                chatId : telegramID\n            }\n        }\n        \n        node.send([null, message])\n    }//end if\n    \n    //token exists and already associated to user\n    else if (result.telegramID) {\n        let message = {\n            payload : {\n                content : \"Token already used\",\n                type : \"message\",\n                chatId : telegramID\n            }\n        }\n        node.send([null, message])\n    }//end else if\n    \n    //save to DB\n    else {\n        let message = {\n            payload : {\n                content : \"User subscribed. Welcome \" + result[0].name,\n                type : \"message\",\n                chatId : telegramID\n            }\n        }\n        \n        let msg = {\n            topic : \"UPDATE user \" +\n                    \"SET chatId = \" + telegramID + \n                    \" WHERE token = '\" + token + \"';\"\n        }\n        node.send([msg, message])\n    }\n    context.set(\"telegramMsg\",\"\");\n    context.set(\"\"+telegramID,\"\");\n    node.done();\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":800,"wires":[["22bd744e31b8f168"],["979ba699e7610fea"]]},{"id":"1eaa8c2b463a85c2","type":"function","z":"e7702738bcfe6f35","name":"SELECT","func":"let token = msg.payload.content\n\nmsg.topic = \"SELECT * from user \"+\n            \"WHERE token = '\" + token + \"';\"\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":880,"wires":[["47586674934128f0"]]},{"id":"47586674934128f0","type":"mysql","z":"e7702738bcfe6f35","mydb":"3d82484f23ccce80","name":"","x":580,"y":880,"wires":[["5708ae6d2cc1f2aa"]]},{"id":"5708ae6d2cc1f2aa","type":"change","z":"e7702738bcfe6f35","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":880,"wires":[["e69de3a47159ac40"]],"l":false},{"id":"22bd744e31b8f168","type":"mysql","z":"e7702738bcfe6f35","mydb":"3d82484f23ccce80","name":"","x":980,"y":760,"wires":[[]]},{"id":"b19e8fcb99388024","type":"subflow:743daacb7a808501","z":"e7702738bcfe6f35","name":"","env":[],"x":880,"y":420,"wires":[]},{"id":"a5522a6a7035befa","type":"tab","label":"Master - Update Tick","disabled":false,"info":"","env":[]},{"id":"bb7aa5b06d1638db","type":"inject","z":"a5522a6a7035befa","name":"Every 10 minutes","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["38ce59f4afcf882a"]]},{"id":"38ce59f4afcf882a","type":"function","z":"a5522a6a7035befa","name":"Get apartments with active conditioners","func":"msg.topic = \"SELECT * FROM smartAirConditioner AS sac \"+\n            \"JOIN apartment AS ap \" +\n            \"ON sac.apartmentID = ap.apartmentID \"+\n            \"WHERE active = 1 \"+\n            \"GROUP BY sac.apartmentID\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["ed6c9a2937cd8fb1"]]},{"id":"ed6c9a2937cd8fb1","type":"mysql","z":"a5522a6a7035befa","mydb":"3d82484f23ccce80","name":"Query","x":690,"y":180,"wires":[["c8b5fab6a586c1d1"]]},{"id":"c8b5fab6a586c1d1","type":"function","z":"a5522a6a7035befa","name":"Spread the word","func":"msg.payload.forEach(apartment => {\n   let floor = apartment.floor;\n   let apnumber = apartment.apartment_number;\n   let message = {\n       payload: \"\",\n       topic: `cmd/slave/${floor}/${apnumber}/update`\n   };\n   node.send(message);\n});\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":180,"wires":[["ec8ec19a6d1a50f4"]]},{"id":"ec8ec19a6d1a50f4","type":"mqtt out","z":"a5522a6a7035befa","name":"Send to Slaves","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"54d52f8897b8d24f","x":1060,"y":180,"wires":[]},{"id":"bd0bc7b2f0212d99","type":"link in","z":"a5522a6a7035befa","name":"Direct Update","links":["c3e1a7dc67915c80"],"x":185,"y":240,"wires":[["15cf4b757de9842d"]]},{"id":"15cf4b757de9842d","type":"function","z":"a5522a6a7035befa","name":"Get user apartments with active conditioners","func":"msg.topic = \"SELECT * FROM smartAirConditioner AS sac \"+\n            \"JOIN apartment AS ap \" +\n            \"ON sac.apartmentID = ap.apartmentID \"+\n            \"JOIN user AS u \" +\n            \"ON sac.apartmentID = u.apartmentID \"+\n            \"WHERE sac.active = 1 \"+\n            \"AND u.chatId ='\"+msg.payload.uid+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["ed6c9a2937cd8fb1"]]},{"id":"4604943ad9169224","type":"comment","z":"a5522a6a7035befa","name":"Update request","info":"This flow is a clock for the automatic update of the database. Every ten minutes, a message is sent to each active conditioner, so that they can start their update.","x":200,"y":200,"wires":[]},{"id":"ef0cf4f82787ed02","type":"tab","label":"Master - Slave Telegram Gateway","disabled":false,"info":""},{"id":"64243149815182bd","type":"mqtt in","z":"ef0cf4f82787ed02","name":"Receive from Slave","topic":"cmd/master/telegram/send","qos":"0","datatype":"json","broker":"54d52f8897b8d24f","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":520,"wires":[["013082412453c935"]]},{"id":"013082412453c935","type":"telegram sender","z":"ef0cf4f82787ed02","name":"Send","bot":"c7bebed2.8e5b6","haserroroutput":false,"outputs":1,"x":370,"y":520,"wires":[[]]},{"id":"7b489be9ea505497","type":"telegram receiver","z":"ef0cf4f82787ed02","name":"Receive","bot":"c7bebed2.8e5b6","saveDataDir":"","filterCommands":false,"x":120,"y":260,"wires":[["5d9fbe7f24c152e9"],[]]},{"id":"10359239af989b93","type":"function","z":"ef0cf4f82787ed02","name":"Select floor/apartmentNr","func":"let chatId = msg.payload.chatId\n\nmsg.topic = \"SELECT * FROM apartment \"+\n            \"WHERE apartmentID IN \"+\n                \"(SELECT apartmentID FROM user \" +\n                \"WHERE chatId = '\" + chatId + \"');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["179cde60d45a3478"]]},{"id":"179cde60d45a3478","type":"mysql","z":"ef0cf4f82787ed02","mydb":"3d82484f23ccce80","name":"Query","x":590,"y":200,"wires":[["34f3ee136e1a26c2"]]},{"id":"34f3ee136e1a26c2","type":"change","z":"ef0cf4f82787ed02","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":200,"wires":[["f1889b14eac6bc3f"]],"l":false},{"id":"f1889b14eac6bc3f","type":"function","z":"ef0cf4f82787ed02","name":"Combine telegramMsg","func":"if(msg.complete===undefined) {\n    context.set(\"telegramMsg\", msg.payload);\n    node.done()\n}\nelse {\n    let telegramMsg = context.get(\"telegramMsg\")\n    let floor = msg.payload[0].floor\n    let apartment_number = msg.payload[0].apartment_number\n    \n    msg.topic = \"cmd/slave/\" + floor + \"/\" + apartment_number + \n                \"/telegram/receive\"\n    \n    msg.payload = telegramMsg\n    \n    node.send(msg)\n    node.done()\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["5df7f17d11797693"]]},{"id":"5df7f17d11797693","type":"mqtt out","z":"ef0cf4f82787ed02","name":"Send to Slave","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"54d52f8897b8d24f","x":980,"y":300,"wires":[]},{"id":"298ef0ba9c67126a","type":"catch","z":"ef0cf4f82787ed02","name":"","scope":["f1889b14eac6bc3f"],"uncaught":false,"x":690,"y":340,"wires":[[]]},{"id":"5d9fbe7f24c152e9","type":"switch","z":"ef0cf4f82787ed02","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"^\\/[\\w]*","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":245,"y":260,"wires":[[],["10359239af989b93","4bb9315f6b17c7e8"]],"outputLabels":["It's a command","It's a message"],"l":false},{"id":"4bb9315f6b17c7e8","type":"change","z":"ef0cf4f82787ed02","name":"","rules":[{"t":"delete","p":"complete","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":280,"wires":[["f1889b14eac6bc3f"]],"l":false},{"id":"ad12236c6c7cb3cb","type":"telegram bot","botname":"MyHouseBot Admin","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c7bebed2.8e5b6","type":"telegram bot","botname":"MyHouseBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
